<div class="form">
  <!-- <form [formGroup]="formGroup"> -->
  <input
    name="email"
    type="text"
    [formControl]="userData.email"
    placeholder="email"
  />

  <input
    name="bio"
    type="text"
    [formControl]="userData.bio"
    placeholder="Bio"
  />

  <input
    name="fullname"
    type="text"
    [formControl]="userData.fullname"
    placeholder="fullname"
  />

  <input
    name="job"
    type="text"
    [formControl]="userData.job"
    placeholder="Job"
  />

  <input
    name="salary"
    type="number"
    [formControl]="userData.salary"
    placeholder="Salary"
  />

  <div class="skills-wrapper">
    @for (skill of skills; track skill) {
    <!-- If skill is already there -->
    @if (userData.skills.value?.includes(skill)) {
    <button class="selected" (click)="removeUserSkill(skill)">
      {{ skill }}
    </button>
    } @else {
    <button class="not-selected" (click)="addSkillToUser(skill)">
      {{ skill }}
    </button>
    } }
  </div>

  <!-- Завдання:
    Виводити кнопку з текстом Create User для адреси створення користувача
    Та виводити кнопку Update User для адреси редагуавання користувача
    (@if) isUpdate: boolean = false;
 -->
  <button (click)="onSubmit()">
    {{ isUpdate ? "Update User" : "Create User" }}
  </button>

  <!-- </form> -->

  <!-- @for (email of defaultEmails; track email) {
    <button (click)="setEmailFromDefault(email)">{{ email }}</button>
  } -->
</div>
